body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}
.flavour {
    display: flex;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.flavour img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 300px;
    height: auto;
}
.flavour-details {
    padding: 20px;
    flex-grow: 1;
}
.flavour-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}
.flavour-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}
.user-reviews {
    margin-top: 20px;
}
.review {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333;
}